:root {
    --bg-dark: #1E1E1E;
    --text-main: #F0EFEF;
    --accent-cyan: #6DD4BE;
    --accent-blue: #383ABD;
    --deep-blue: #281697;
}

@font-face {
    font-family: 'SamiFont'; 
    src: url('typography/Garet-Book.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

.sami-footer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: var(--bg-dark);
    padding: 40px 0;
    margin-top: auto;
    z-index: 2;
}

.footer-content {
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: var(--text-main);
    opacity: 0.8;
    font-size: 0.9rem;
    font-family: 'SamiFont', sans-serif;
}
