:root {
    --bg-dark: #1E1E1E;
    --text-main: #F0EFEF;
    --accent-cyan: #6DD4BE;
    --accent-blue: #383ABD;
    --deep-blue: #281697;
}

@font-face {
    font-family: 'SamiFont'; 
    src: url('typography/Garet-Book.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    margin: 0;
    font-family: 'SamiFont'; 
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-sizing: border-box;
    z-index: 10;
}

.logo {
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-main);
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--accent-cyan);
}

#samiCanvas {
    margin-top: -80px;
    z-index: -10;
    pointer-events: none;
}

.intro-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-repeat: no-repeat;
    z-index: 1; /* Lower layer */
    overflow: hidden;
}

.content-wrapper {
    background-color: var(--bg-dark);
    position: relative;
    z-index: 5;
    border-top: 1px solid rgba(255, 255, 255, 0.05); 
    box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.5); /* Adds a shadow for depth */
    padding-top: 50px;
}

.acronym, .slogan {
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 0 20px;
}

.acronym h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.slogan {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-bottom: 60px;
}