* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    width: 100%;
}

@font-face {
    font-family: 'SamiLogoFont'; 
    src: url('typography/Garet-Book.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: 'SamiLogoFont';
    padding: 20px 5%; 
    position: relative; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10; 
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 2vw; 
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'SamiLogoFont';
    flex-shrink: 0; 
    color: #F0EFEF;
    font-size: 6rem; /* Slightly smaller for better fit */
    text-transform: uppercase;
}

.nav-links li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #6DD4BE; /* Matches your Cyan glow color */
}

#samiCanvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* Puts the glow behind your nav/text */
}